<div class="home-video-wraper">
  <%= video_tag "sleeping.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <%= link_to 'Nash', root_path, class: 'home' %>
  <p>
    <span id="banner-typed-text"></span>
  </p>
</div>

